 <div class="homepage" style="background-image: url('<%= image_path 'learnbox-background.png' %>')">
    <%= render 'shared/home-banner' %>
    <div class="container">
      <div class="features-card__wrapper">
          <h1 class="simple__heading">ES MUY SIMPLE: </h1>
          <p class="simple__text features-card__text">Consigue adentrarte en nuevas áreas de conocimiento. Los cursos desglosan  conceptos complejos cómo la Inteligencia Artificial en pequeños pasos. Cuantifica tu progreso y recibe apoyo de nuestro grupo de profesores expertos. Al completar el curso, si estás realizando un grado, recibirás 3 Créditos ECTS de tus asignaturás de libre elección. </p>
          <div class="features-card-container">

            <div class="features-card">
              <div class="features-card-image">
               <%= image_tag "goal.svg" %>
              </div>
              <div class="features-card-content">
                <div class="features__text-l">Elige tu foco</div>
                <div class="features__text-m">Hay asignaturas opt. y experimentales</div>
                <div class="features__text-s">Estas asignaturas han sido co-creadas junto a las empresas líderes del sector junto con estudiantes de grado. Estamos aquí para ayudarte.</div>
              </div>
            </div>

            <div class="features-card">
              <div class="features-card-image">
                <%= image_tag "contract.svg" %>
              </div>
              <div class="features-card-content">
                <div class="features__text-l">Organizate</div>
                <div class="features__text-m">Generaremos un plan para ayudarte</div>
                <div class="features__text-s">Acaba la asignatura sin imprevistos. Aprende hábitos de estudio que te ayudaran con las otras asignaturas y en tu futuro profesional</div>
              </div>
            </div>
            <div class="features-card">
              <div class="features-card-image">
                <%= image_tag "start.svg" %>
              </div>
              <div class="features-card-content">
                <div class="features__text-l">Ponlo en práctica</div>
                <div class="features__text-m">Haz tus proyectos realidad</div>
                <div class="features__text-s">Resultados reales para prácticas reales. Consigue tu próximo empleo mientras estudias. </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="container pricing__wrapper">
      <h1 class="simple__heading"> Inscríbete ya </h1>
      <p class="pricing__text"> Formación excepcional a un precio asequible.</p>
      <%= render 'shared/pricing' %>
    </div>

</div>
